
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     {% load static %}

    <link href="{% static 'css/calculatepage.css' %}" rel="stylesheet">
    <title>Calculate</title>
</head>
<body>
    <div class="main-container">
        <h1 id="h1title">Osu-Recommend</h1>
       
        <p>
            <input type="textarea" id="userinput" name="judge" placeholder="Username Here">
        </p>
        <p>
            <input type="submit" id="button1" name="" value="Submit">
        </p>
        <p class="description">
            该页面目前仅用于展示，具体算法还在改进中<br>
            如有相关意见请加群：1059257362
        </p>
    </div>
    
    
</body>
</html>

